<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/links') %>
        <title>Login</title>
</head>

<body>
    <%- include('./partials/navbar') %>

        <div class="container w-50 position-absolute top-50 start-50 translate-middle border p-4 rounded">
            <h1 class="text-center">Work in Progress</h1>
        </div>

        <%- include('./partials/scripts') %>
</body>

</html>